<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
    android:name="android.hardware.telephony"
    android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application>
        <activity
            android:name=".BottomSheetLoadingSheet"
            android:exported="false" />
        <activity
            android:name=".TestingPurpose"
            android:exported="false" />
        <activity
            android:name=".FailureScreenForTesting"
            android:exported="false" />
        <activity
            android:name=".SuccessScreenForTesting"
            android:exported="false" />
        <activity
            android:name=".OTPScreenWebView"
            android:exported="false" />
        <activity
            android:name=".Check"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <receiver android:name=".SmsReceiver"
            android:exported="true">
            <intent-filter>
                <!-- Specify the intent action -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>