<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boxpay.checkout.sdk">

<!--    &lt;!&ndash; Queries section for UPI apps like GPay, PhonePe, and Paytm &ndash;&gt;-->
<!--    <queries>-->
<!--        &lt;!&ndash; Example Store and Services (existing entries) &ndash;&gt;-->
<!--        <package android:name="com.example.store" />-->
<!--        <package android:name="com.example.services" />-->

<!--        &lt;!&ndash; GPay &ndash;&gt;-->
<!--        <package android:name="com.google.android.apps.nbu.paisa.user" />-->

<!--        &lt;!&ndash; PhonePe &ndash;&gt;-->
<!--        <package android:name="com.phonepe.app" />-->

<!--        &lt;!&ndash; Paytm &ndash;&gt;-->
<!--        <package android:name="net.one97.paytm" />-->
<!--    </queries>-->
    <uses-feature
    android:name="android.hardware.telephony"
    android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>